@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #518cfa;
}
.input_box{
  width: 100%;
  height: 50px;
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inpt{
  height: 40px;
  width: 30%;
  border-radius: 5px;
  border-color:  #518cfa;
  font-size:15px;
}

#quote-box {
  background: #fff;
  width: 40rem;
  margin: 6rem auto;
  padding: 3rem;
  border-radius: 5px;
}
.search{
  height: 40px;
  width: 85px;
  border-radius: 5px;
  font-size: 17px;
}
#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  
}

.social-media {
  display: flex;
}

.social-media > a {
  margin-right: .5rem;
  background: #518cfa;
  padding: .3rem .5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: .9;
}

.social-media > a img {
  width: 1.5rem;
}

#new-quote {
  background: #518cfa;
  border: none;
  color: #fff;
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.9;
}